.form-inner select.js-example-basic-single {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    /* background: #fff; */
    background-color: var(--input-color); /* background-color: var(--primary-color-light); */
    color: var(--text-color);
    /* color: #333; */
    font-size: 17px;
    font-weight: 500;
    /* line-height: 40px; */
     /* border-width: 0; */
    /* border: 1px solid #e1e1e1; */
    border: 1px solid var(--border-color);
    border-radius: 10px;
    /* font-family: 'Roboto', sans-serif; */
    transition: var(--tran-05);
  
    height: 50px;
    line-height: 40px;
}

body.dark .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background-color:var(--checkbox-color);color:#444746;}


.select2-container--default .select2-selection--single:hover, .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single:active {
	outline: 1px;
   outline-color: var(--primary-color); /* #695CFE; */
   border-width: 1px;
   border-color: var(--primary-color); /* #695CFE; */
   /* outline-offset: 0; */
   transition: var(--tran-05);
}

.select2-container--default.select2-container--open .select2-selection--single {
	outline: 1px;
   outline-color: var(--primary-color); /* #695CFE; */
   border-width: 1px;
   border-color: var(--primary-color); /* #695CFE; */
   /* outline-offset: 0; */
   transition: var(--tran-05);
}
	

.select2-container--default .select2-search--dropdown .select2-search__field:hover, .select2-container--default .select2-search--dropdown .select2-search__field:active, .select2-container--default .select2-search--dropdown .select2-search__field:focus {
	 outline: 1px;
   outline-color: var(--checkbox-color); /* #695CFE; */
   border-width: 1px;
   border-color: var(--checkbox-color); /* #695CFE; */
   /* outline-offset: 0; */
   transition: var(--tran-05);
	}

/* Картинка в выпадающем комбобоксе*/
.select2-container--default .select2-results__option .select2-results__option span {
	display: grid;
	grid-template-columns: 50px 5fr;
	align-items: center;
	gap: 0 12px;
	/* align-items: center;
	justify-content: flex-start; */
}

.select2-container--default .select2-results__option .select2-results__option .img-flag{
	height: 26px;
	width: auto;
	max-width: 40px;	
	margin: 0 auto;
}