/* Правая панель: квадраты и таблица*/

.dash-content .title .title-rectangle-icon .title-product-icon {
    background-image: url(../images/noun-teddy-bear-3500508-white.svg);    
    background-size: contain;   
	background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;	    
    height: 26px;
    width: 26px;
    /* max-height: 10px; */
    /* max-width: ; */
    min-width: 26px;
    /* cursor: pointer; */
    padding: 0;
    /* position: absolute;
    top: 40%;
    left: 0%; */
    transition: background-color 200ms ease-out;
}

body.dark .title .title-rectangle-icon .title-product-icon,
body.dark .title .title-rectangle-icon .title-product-icon:hover {
    background-image: url(../images/noun-teddy-bear-3500508-light-grey.svg);    
    /* background-size: auto, auto;    */
	background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    height: 26px;
    width: 26px;
    /* max-height: 10px; */
    /* max-width: ; */
    min-width: 26px;
    transition: var(--tran-05);
}

.admin-add-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px 12px;
    text-decoration: none;
    font-size: 16px; 
    font-weight: 500;   
    background-color: var(--primary-color);
    color: var(--title-icon-color);
    height: 35px;
    width: 125px;
    min-width: 122px;    
    border-radius: 6px;    
    transition: var(--tran-05);
}

.admin-add-button .title-add-icon {
    background-image: url(../images/noun-add-1886814-white.svg);    
    /* background-size: auto, auto;    */
	background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    height: 18px;
    width: 18px;
    /* max-height: 10px; */
    /* max-width: ; */
    min-width: 18px;
    transition: var(--tran-05);
}

body.dark .admin-add-button .title-add-icon {
    background-image: url(../images/noun-add-1886814-light-grey.svg);    
    /* background-size: auto, auto;    */
	background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    transition: var(--tran-05);
}

/* ===== Таблица Вадим ===== */
/* .accounts-list {
    width: 100%;
    
} */

.accounts-head.orderitem {    
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 550; 
}

/* .accounts-head > :nth-child(n) {
    flex: 1;
    text-align: center;
} */

.accounts-head .head-orderitem-image {
    text-align: center;
    padding-left: 15px;
    max-width: 15%;
    min-width: 15%;
}

.orderitem-image-column {
    max-width: 15%;
    min-width: 15%;
}

.accounts-head .head-orderitem-title {
    text-align: left;
    padding-left: 15px;
    max-width: 30%;
    min-width: 30%;
}

.account-rows .orderitem-title-column {
    max-width: 30%;
    min-width: 30%;
}

.accounts-head .head-orderitem-quantity {
    max-width: 17%;
    min-width: 80px;
    min-width: 17%;
    text-align: left;
}

.account-rows .orderitem-quantity-column {
    max-width: 17%;
    min-width: 80px;
    min-width: 17%;
    text-align: center;
}

.accounts-head .head-orderitem-price {
    text-align: left;
    padding-left: 15px;
    max-width: 13%;
    min-width: 13%;
}

.account-rows .orderitem-price-column {
    max-width: 13%;
    min-width: 13%;
}

.accounts-head .head-orderitem-sum {
    text-align: left;
    padding-left: 15px;
    max-width: 15%;
    min-width: 15%;
}

.account-rows .orderitem-sum-column {
    max-width: 15%;
    min-width: 15%;
}

.accounts-head .head-orderitem-actions {
    text-align: center;
    padding-left: 15px;
    max-width: 10%;
    min-width: 10%;
}

.account-rows .orderitem-actions-column {
    max-width: 10%;
    min-width: 10%;
}

/* Total row */
.account-rows .orderitem-total-title-column {
    text-align: right;
    /* padding-left: 15px; */
    max-width: 45%;
    min-width: 45%;
}

.account-rows .orderitem-total-quantity-column {
    max-width: 13%;
    min-width: 80px;
    min-width: 13%;
    text-align: center;
}

.account-rows .orderitem-total-sum-column {
    text-align: right;
    /* padding-left: 15px; */
    max-width: 25%;
    min-width: 25%;
}

/* .account-rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
    gap: 10px 0px;
} 

.account-card {
    padding: 20px 30px 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 38px rgba(143, 39, 199, 0.05);
    background-color: #fff;
    width: 300px;
} 

.list {
   
    display: flex;
    align-items: center;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;   

    background-color: #fff;
    border-radius: 8px;
    
} */

.list.orderitem-total {
    background-color: transparent;
   
}

.list.orderitem-total:hover {
    background-color: transparent;
   
}

.orderitem-total .account-card-item .account {
    font-size: 17px;
    font-weight: 550;
}

/* .accounts-list .list:hover {
    background-color: var(--primary-color-trasparent); 
    transition: var(--tran-05);
}

body.dark .accounts-list .list,
body.dark .accounts-list .list:hover {
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
} */

.account-card-item.orderitem{
    font-size: 17px;
    font-weight: 400;    
}

.account-card-item .account.orderitem {
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
    font-size: 14px;
}

/* .card-mobile-text {
    display: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-darker);
} */


/* Картинка в строке таблицы */
.admin-table-img-container {
	height: 44px; /* 1.875rem; */
	/* width: 10%; */
    width: auto;
	min-width: 10%;		
	text-align: center;
}

.admin-table-img {
    width: 100%; /* auto; */
    height: 100%;
    object-fit: contain;
    /* padding: 10px; */
	display: inline-block;
}

/* .wrapper-icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 0;
    max-width: 150px;
} 

.wrapper-icon .admin-action-ahref {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 100%;
    min-height: 27px;
}

.wrapper-icon .admin-action-ahref:hover {
    background-color: var(--primary-color);
    transition: var(--tran-03);
} */

.wrapper-icon .admin-action-ahref.orderitem {
    border: none;
    background-color: transparent;
}

.wrapper-icon .admin-action-ahref.orderitem:hover {
    background-color: var(--primary-color);
    transition: var(--tran-03);
} 

/*.admin-form-delete {
    display: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/


.admin-orderitem-quantity-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.admin-orderitem-quantity{
    background-color: var(--input-color);
    border: 1px solid var(--primary-color); /* #00b5c3; */
    /* outline-color: rgb(226,0,73); */
    /* border-radius: 20%; */
    width: 4rem;
    height: 24px;
    text-align: center;
    font-size: 1rem;
    /* margin-left: 3px;
    margin-right: 3px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color: #333; */
    color: var(--text-color);
    transition: var(--tran-05);
}

body.dark .admin-orderitem-quantity{
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
}

.admin-orderitem-quantity:active, .admin-orderitem-quantity:hover, .admin-orderitem-quantity:focus, .admin-orderitem-quantity:focus-visible {
   outline: 1px;
   outline-color: var(--primary-color); /* #695CFE; */
   border-width: 1px;
   border-color: var(--primary-color); /* #695CFE; */
   /* outline-offset: 0; */
   transition: var(--tran-05);
}

/* Chrome, Safari, Edge, Opera */
input.admin-orderitem-quantity::-webkit-outer-spin-button,
input.admin-orderitem-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].admin-orderitem-quantity {
  -moz-appearance: textfield;
}

.admin-orderitem-minus-quantity, .admin-orderitem-plus-quantity {
    width: 24px;
    height: 24px;
    /* background-color: #00b5c3;   */
    background-color: var(--primary-color);
    transition: var(--tran-03);   
    
    background-size: cover;  
    background-repeat: no-repeat;
    /* color: #fff; */
    color: var(--title-icon-color);

    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    
}

.admin-orderitem-minus-quantity {
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}

.admin-orderitem-plus-quantity {
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}

/* .cart-minus-quantity {
    background-image: url(../images/button-minus-quantity.svg);
}

.cart-plus-quantity {
    background-image: url(../images/button-plus-quantity.svg);
} */


/* На мобильном экране */
/* @media (max-width: 780px) { */
@media (max-width: 1070px) {
    .accounts-head {
        display: none;
    }
    .accounts-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .list {
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 4px 38px rgba(143, 39, 199, 0.05);
        border-radius: 6px;
        border-bottom: none;
        align-items: flex-start;
        padding: 10px;
    }

    .list.orderitem-total { 
        box-shadow: none;
    }   

    .account-card {
        width: 100%;
        padding: 0;
    }

    .account-card-item {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .card-mobile-text {
        display: inline;
        /* font-size: 18px;
        font-weight: 500;
        color: var(--text-color); */
    }

    .account-card-item.orderitem-actions-column.orderitem-total {
        display: none;
    }
}

/* ===== End Таблица Вадим ===== */



/* @media (max-width: 1000px) {
    
}

@media (max-width: 780px) {
    
}

@media (max-width: 729px) {
  
}

@media (max-width: 650px) {
    
} */

@media (max-width: 620px) {
    .dash-content .title.title-with-button {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px 0px;
    }
}

/* @media (max-width: 560px) {
   
}
@media (max-width: 400px) {
   
} */