.alert-container{
    /* position: relative; */
    /* height: 120px; 60px; */
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.alert{
    /* background: #c2f3d6; */
    /* padding: 15px 30px; */
    padding: 0px;
    /* min-width: 520px; */
    position: relative; 
    /*right: 0;
    top: 0px; */
    border-radius: 4px;
    /* border-left: 8px solid #30D473; */
    overflow: hidden;
    opacity: 0;
    pointer-events: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    /* margin: 0 5px; */

    box-sizing: border-box;
  }

  .alert.alert-success {
    background: #c2f3d6;
    border-left: 8px solid #30D473;
}

  .alert.alert-danger {
    background: #ffe1e3;
    border-left: 8px solid #ff4658;    
  }

  .alert.showAlert{
    opacity: 1;
    pointer-events: auto;
  }
  .alert.show{
    animation: show_slide 1s ease forwards;
  }
  @keyframes show_slide {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
  }
  .alert.hide{
    animation: hide_slide 1s ease forwards;
  }
  @keyframes hide_slide {
    0%{
      transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(100%);
    }
  }

  .alert .alert-msg-container {
    padding: 15px 20px;
  }

  .alert .msg{
    /* padding: 0 20px; */
	font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    /* color: #68ae6f;  */    
  }
  .alert.alert-success .msg {
      color: #68ae6f; /* #24b05a; */
  }
  
  .alert.alert-danger .msg {
      color: #c56571; /* #24b05a; */
  }

  .alert .close-btn{
  /*   position: absolute;
    right: 0px;
    top: 50%; */
    /* transform: translateY(-50%); */
    /* background: #95eab8; */
   /*  height: 100%;
    width: 31px; */
    /* padding: 150px 24px; */
    cursor: pointer;
    /* position: relative; */
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    width: 48px;
    min-width: 48px;
    /* padding: 50% 48px; */
  
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
  }

.alert.alert-success .close-btn{
    background: #95eab8;
}

.alert.alert-danger .close-btn{
    background-color: #ff99a4;    
}

.alert.alert-success .close-btn:hover{
    background: #8fdeb0;
}

.alert.alert-danger .close-btn:hover{
    background: #f0919a;
}

/* Кнопка закрытия alert-а */
.alert.alert-success button#close-alert-button {
    display: block;
    /* position: absolute;
    top: 50%;
    right: 0;  */
    background-image: url(../images/noun-cancel-1890830-green.svg);    
    /* background-size: auto, auto;    */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    height: 16px;
    width: 16px;
    /* max-height: 10px; */
    /* max-width: ; */
    min-width: 16px;
    transition: var(--tran-05);
    /* border-radius: 6px; */
    border: none;
    /* background-color: var(--primary-color); */
    background-color: transparent;
    cursor: pointer;
    /* transform: translateY(-50%) translateX(-50%); */
    /* padding: 20px 18px; */    
}

.alert.alert-danger button#close-alert-button {
    display: block;
    /* position: absolute;
    top: 50%;
    right: 0;  */
    background-image: url(../images/noun-cancel-1890830-red.svg);    
    /* background-size: auto, auto;    */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    height: 16px;
    width: 16px;
    /* max-height: 10px; */
    /* max-width: ; */
    min-width: 16px;
    transition: var(--tran-05);
    /* border-radius: 6px; */
    border: none;
    /* background-color: var(--primary-color); */
    background-color: transparent;
    cursor: pointer;
    /* transform: translateY(-50%) translateX(-50%); */
    /* padding: 20px 18px; */    
  }

  /* Icons для alert-ов */
.alert .alert-success-icon {
    background-image: url(../images/noun-tick-mark-2920191-green.svg);    
    background-size: contain;   
	background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;	    
    height: 27px;
    width: 27px;
    /* max-height: 10px; */
    /* max-width: ; */
    min-width: 27px;
    /* cursor: pointer; */
    padding: 0;
    /* margin: auto; */
    margin: 0px 0px 0px 20px;
    /* position: absolute;
    top: 25%; 
    left: 14px; */
    transition: background-color 200ms ease-out;
    display: block;
}

  .alert .alert-danger-icon {
    background-image: url(../images/noun-damaged-2009254-red.svg);    
    background-size: contain;   
	background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;	    
    height: 25px;
    width: 25px;
    /* max-height: 10px; */
    /* max-width: ; */
    min-width: 25px;
    /* cursor: pointer; */
    padding: 0;
    /* margin: auto; */
    margin: 0px 0px 0px 20px;
    /* position: absolute;
    top: 25%; 
    left: 14px; */
    transition: background-color 200ms ease-out;
    display: block;
}