.right-side-title {
    text-align: center;
    font-family: Bellota;
    font-size: 26px;
    color: #484848;
    font-weight: bold;
    padding: 3px;
    margin: 25px 10px auto;
}

.right-side-description {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 140%;
    color: #484848;
    margin: 0px 20px 0px 20px;
}

.right-side-description p:first-child {
    /* margin: 0px auto; */
}

.right-side-description-search {
	/* display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; */
    text-align: center;
	/* flex-wrap: nowrap; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
	font-weight: 600;
    line-height: 140%;
    color: #484848;
    margin: 20px auto 0px auto;
	width: 100%;
}

.right-side-description-img-wrapper {
    width: 80%;
    height: auto;

}

.right-side-description-img-wrapper img {
    width: 100%;
    height: 100%;
}

/* Популярные товары */
.dotted-line-divider {
    background-image: url("../images/NICI/a-line.png");
    background-position: right;
    background-repeat: repeat-x;
    display: block;
    height: 15px;
    margin-top: 25px;
}

.top-sale-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 140%;
    font-weight: bold;
    color: #e20049;
    margin: 0px 0px 20px 20px;
    margin-left: 50px;
    margin-top: 25px;
}

/*Слайдер популярных продуктов */
.slider-carousel-wrapper-collection {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.slider-carousel-collection {
    /* position: relative;  */
    width:95%;
}

.slider-wrap-collection {
   /*  width: 100%;
    height: auto; */

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;    
    /* min-width:  140px; /*150px;*/
    /*max-width: 32%;*/
    height: 300px; 
    width: 200px;
    padding: 10px;    
    
    position: relative;
}

.slider-img-collection {
 /*    width: 100%;
    height: 100%; */

   /*  height: 300px; 
    width: 200px; */

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;  
    text-align: center;
    background-color: #d1e4f3;
    padding: 10px;
} 

.img-name-wrapper-product-collection {
    display: block;
    flex: 1;
}

.img-product-collection {
    /* max-width: 120px; иначе не центрируется картинка*/ 
    height: 175px;
    max-height: 175px;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    display: inline-block;    
  }

.img-product-collection .img {
    width: auto;
    height: 100%;
}

.name-product-collection {
    font-family: Bellota;
    font-size: 15px;
    text-align: center;
    color: #484848;
    margin-bottom: 0px;
    line-height: 1.2em;
    height: 2.4em;
	overflow: hidden;
    text-overflow: ellipsis;
}

.price-product-collection {
    margin: 0px auto;
    /* line-height: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.initial-price-product-collection {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 100%;
    color: #484848;
    text-decoration: line-through;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .final-price-product-collection {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    /* line-height: 140%; */
    color: #e20049;
  }

  .final-price-product-collection .blue-price {
    color: #50bcca;
  }

  .promotion-wrapper-collection {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
  }

  .slider-wrap-collection .promotion-wrapper-collection .promotion-discount, .slider-wrap-collection .promotion-wrapper-collection .promotion-new {
    transform: scale(0.9);
    transform-origin: top left;
}

  /* Сортировка панель*/
  .sorting-line-divider {
    background-image: url("../images/NICI/filter-bgd.png");
    background-position: right;
    background-repeat: repeat-x;
    display: block;
    height: 65px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  
  /* Youtube видео */
.iframe-container{
  position: relative;
  width: 50%;
  padding-bottom: 35%; 
  height: 0;
  margin: 0 auto;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* На мобильном экране */
@media (max-width: 780px) {
	.iframe-container{
  width: 80%;
  padding-bottom: 50%; 
}
