/* === Video styles === */
.feedback-confirmation-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
	margin-bottom: 35px;	
}

.feedback-confirmation-card {
    /* width: 25rem; */
    width: 520px;
    border-radius: 0.2rem;
    background-color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.3), 0px 15px 12px 0px rgba(0,0,0,0.22);
    text-align: center;
}

.feedback-confirmation-card .icon-circle {
    width: 130px; /* 8rem; */
    height: 130px; /* 8rem; */
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #35c1a6;
    z-index: 5;
}

.feedback-confirm-img-container {
    width: 130px;
    height: 130px;
    margin: 0px auto;
}

.feedback-confirm-img-container img {
    width: 100%;
    height: 100%;
}


.feedback-confirmation-card .icon {
    /* width: 2.8rem;
    height: 2.8rem; */
    width: 2.8rem;
    height: 2.8rem;

}

.feedback-confirmation-card .icon-container {
    width: 8rem;
    height: 8rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem auto;
    position: relative;
	
}

.feedback-confirmation-card .circle {
    width: 10rem;
    height: 10rem;
    background-color: #35c1a6;
    border-radius: 50%;
    position: absolute;
    animation: wave-anim 1.5s infinite ease-in-out;
}

@keyframes wave-anim {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1.25);
        opacity: 0;
    }
}

.feedback-confirmation-card .title {
    font-size: 1.1rem;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #35c1a6;
    letter-spacing: 1px;
}

.feedback-confirmation-card .message {
    /* width: 15rem; */
    width: 400px;
    /* font-size: 0.725rem; */
    font-size: 16px;
    color: #484848; /* #696969; */
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    margin: 0.5rem auto;
}

/* End of === Video styles === */

.feedback-confirmation-card .btn-buy {
    display: inline-block;
    height: 34px;
    width: 280px;
    margin: 20px 10% 30px 10%;
}

.feedback-confirm-container h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.order-confirm-details-bold {
    font-weight: 600;
}

@media (max-width:520px){
    .feedback-confirmation-card {
        width: 360px;
    }
    .feedback-confirmation-card .message {
        /* width: 15rem; */
        width: 300px;
    }
    .feedback-confirm-img-container {
        width: 300px;
    }
}
