.orderhistory-header-bottom{
    /* background-color: #fd9a9a; */
    width: 100%;
    /* height: 46px; */
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
    margin-top: 24px;
}

/* nav{
    font-family: 'Trebuchet MS', sans-serif;
} */

.orderhistory-horizont-menu-wrap{
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* flex-flow: row; */
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    width: 100%;

    max-width: 1200px;
    margin: 0px auto;
}

/* nav, nav li, nav li a {
    list-style: none;
    text-decoration: none;
} */

/* .orderhistory-menu__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    min-width: 100%;
} */

.orderhistory-menu__wrapper {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    width: 100%;
    padding-right: 20px;  
}

/*li первого уровня меню*/
.orderhistory-menu__list > li{
    position: relative;
    /* margin: 0px 0px 0px 20px; Вадим убрал*/

    margin-bottom: 25px;
}

/* a href первого уровня меню */
.orderhistory-menu__link{
    color: #fff;
    font-size: 18px;
    white-space: nowrap; 
}

.orderhistory-menu__link:hover{
    /* text-decoration: underline; */
}

.orderhistory-menu__sublist{
    position: absolute;
    /* top: 100%; */
    /* right: 0; */
    background-color: #f8f4ee;
    color: #484848;    
    /* padding: 5px 15px; */
    /* min-width: 200px; */
    z-index: 5; /*я проставила*/

    width: 200px;
    top: 100%;
    left: 0;
    padding-inline-start: 0px;
}

/* .menu__profile .orderhistory-menu__sublist{
    background-color: #fff;
} */

.orderhistory-menu__sublist  .orderhistory-menu__sublist {
    top: 30%;
    left: 200px;  
    padding-inline-start: 0px;
}

.orderhistory-menu__sublist li{
    /* margin: 10px 20px 15px 20px; */
    /* border-bottom: 1px solid #e1e2e1; */
    position: relative;
    /* padding: 10px 20px; закомментировано для burger menu на мобильном экране
    margin-left: 5px; */   
}

.orderhistory-menu__sublist li:last-child{
    /* margin: 0px; */
    /* margin: 10px 20px 10px 20px; */
    border-bottom: none;
    
}

.orderhistory-menu__sublink{
    color: #484848;
}

.orderhistory-menu__sublink:hover{
    /* text-decoration: underline; */
}

p.orderhistory-menu__sublink {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.orderhistory-menu__arrow {
    display: block;
    transition: all 0.2s ease-in-out;
}

/*----------------------*/

.orderhistory-menu__list  li:hover > .orderhistory-menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

/* .orderhistory-menu__list  li {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
} */


body._pc .orderhistory-menu__arrow, body._touch .orderhistory-menu__arrow {
   /*  display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform 0.3s ease 0s; */
    /*border-left: 5px solid transparent; */ /*треугольник стрелки*/
    /*border-right: 5px solid transparent;
    border-top: 10px solid #fff; */

   /*  width: 14px;
    height: 15px;
    background-image: url(../images/arrow-down-grey.svg); */ /*button-minus.svg*/
   /*  background-size: cover;  
    background-repeat: no-repeat; */
}

/* click по стрелке*/
li._active > /*Вадим добавил уголок*/.orderhistory-menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

/* li._active > .orderhistory-menu__arrow, li:hover > .orderhistory-menu__arrow {
    transform: rotate(-180deg);
}
 */
/*----------------------*/



/*Лекция фрилансера*/
/* На широком экране компьютера */
/* @media(min-width: 767px){
} */

/* На мобильных устройствах */
/* @media(max-width: 767px){ */
   
    li.orderhistory-profile-hidden {
        display: block;
    }

    /* nav */
    .orderhistory-menu__body {
        /* position: fixed; */
        /* top: 127px; */ /* на высоту sticky header-center и search розовой панели*/
       /*  left: -100%; */
        width: 100%;
        /* height: 80%; */
        /* transform: translate(-100%, 0px); */
     /*    background-color: rgba(248, 244, 238, 1); */ /* rgba(0, 0, 0, 0.9); */
        /* padding: 0px 30px 30px 30px; */
        transition: left 0.3s ease 0s;
        /* overflow: scroll; */
        /* z-index: 50; я добавила */
    }

    /* .orderhistory-menu__body._active {
        left: 0;
    } */

    /* Плашка фиксированная над меню */
   /*  .orderhistory-menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #fff;
        z-index: 2;
    } */

   /* Вадим убрал li:hover > .orderhistory-menu__arrow  {
        transform: none;
    } */

    .orderhistory-main_nav li {
        min-height: 24px;
        line-height: 24px;
    }

    /*Я добавила чтобы убрать отступ слева у ul*/
    .orderhistory-menu__list {
        padding-inline-start: 0px;
        margin-top: 0;
    }

    .orderhistory-menu__list > li {
        flex-wrap: wrap;
        /* margin: 20px 0px 20px 0px; Вадим убрал*/
        /* border-bottom: 1px solid #e1e2e1; */
        /* display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 40px; */

        background-color: rgba(248, 244, 238, 1);
        border-radius: 20px;
    }

    .orderhistory-menu__list > li:last-child {
        margin: 0;
        border-bottom: none;
    }

    /*Я добавила*/
    .orderhistory-menu__list > li._active {
        /* border-bottom: 1px solid  #e1e2e1; */
    }

    /*Я добавила для отступов параграфа p*/
    .orderhistory-menu__list > li > p{
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .orderhistory-menu__list  li._active > .orderhistory-menu__sublist {
        display: block;
        width: 100%; /*Вадим добавил*/

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .orderhistory-menu__link {
        font-size: 18px;
        color: #484848;
        margin: 0; /*Вадим добавил*/
        margin-left: 25px;
        padding: 10px 0; /*Вадим добавил*/
    }

    .orderhistory-menu__sublist {
        position: relative;
        background-color: rgba(248, 244, 238, 1); /* #c3c3c3; */
        flex: 1 1 100%;
        /* margin: 20px 0px 0px 0px; Вадим убрал*/
        display: none;
        border-top: 1px solid #e1e2e1;
    }

    .orderhistory-menu__list .orderhistory-profile-hidden {
        background-color: #fff;
    }

    .orderhistory-menu__list .orderhistory-profile-hidden .orderhistory-menu__sublist {
        background-color: #fff;
    }

    /*я добавила*/
   /*  .orderhistory-menu__wrapper._active {
        border-bottom: 1px solid #e1e2e1;
    } */

    .orderhistory-menu__sublist  li {
        /*padding: 10px 0px; Вадим убрал*/
        /* margin-left: 5px; */
    }

    /*я добавила*/
    .orderhistory-menu__sublist  li._active /* > .orderhistory-menu__sublist */ {
        display: block;
    }

    /*я добавила*/ /*Вадим убрал*/
    /*.orderhistory-menu__sublist  li._active:first-child {
        border-top: 1px solid #e1e2e1;
    } */

    .orderhistory-menu__sublist  .orderhistory-menu__sublist {
        top: 100%;
        left: 0%;       
    }

    .orderhistory-menu__sublink {
        font-size: 16px;
        padding: 10px 0;
        color: #484848;        
    }

    .orderhistory-menu__sublist .orderhistory-menu__sublink {
        /* margin-left: 50px; */
        margin-left: 25px;
        margin-right: 25px;
    }

    .orderhistory-menu__sublist .orderhistory-menu__sublist .orderhistory-menu__sublink {
        margin-left: 75px;
    }

    .orderhistory-menu__arrow {
        cursor: pointer;
        width: 15px;
        height: 16px;
        background-image: url(../images/arrow-down-pink.svg); /*button-minus.svg*/
        background-size: cover;  
        background-repeat: no-repeat;
        /* margin-left: 10px; Вадим убрал*/
        margin-right: 10px; /*Вадим добавил*/
    }

   
    
    li._active > .orderhistory-menu__arrow, li._active > .orderhistory-menu__wrapper > .orderhistory-menu__arrow, li._active > .orderhistory-menu__wrapper .orderhistory-menu__arrow/* , .orderhistory-menu__list li:hover > .orderhistory-menu__arrow */ {
        transform: rotate(-180deg);
    }    
    
/* } */


/* === Видео стройматериалы === */
.order-prev {
    line-height: 18px;
    font-size: 15px;
    /* padding: 20px; */
}

.order-prev > * {
    margin: 20px 0;
}

.order-prev > *:first-child {
    margin-top: 0;
}

.order-prev > *:last-child {
    margin-bottom: 0;
}

/* Строка с номером, статусом и стрелкой*/
.order-prev__header {
    display: flex;
    align-items: baseline;
    position: relative;
}

.order-prev__header > *:not(:last-child) {
    margin-right: 20px;
}

.order-prev__number {
    font-size: 22px;
    line-height: 1.44;
    color: #e20049;
}

.order-prev__date {
    font-size: 15px;
}

.order-status {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
}

/* Цвета статусов заказа */
.order-status--new {
	background-color:  rgb(255, 255, 170);
}
/* .order-status--waiting {
	background-color:  ;
} */
.order-status--paid {
	background-color:  rgb(170, 255, 170);
}
.order-status--sent {
	background-color:  rgb(170, 227, 255);
}
.order-status--cancelled {
	background-color:  rgb(255, 170, 170);
}
.order-status--finished {
	background-color: rgb(195, 195, 195) ;
}

.order-status--waiting {
	background-color: #f8e71c;
}

.order-prev__link {
    margin-left: auto;
    color: #e20049;
    font-size: 16px;
    /* font-weight: 600; */
    white-space: nowrap; /*я добавила*/
    display: flex; /*я добавила*/
}

.order-prev__link span:first-child {
    margin-right: 10px;
}

/*Две колонки с деталями заказа*/
.order-prev__body {
    margin: 20px 0;
    width: 100%; /*я добавила*/
}

.order-prev__body > * {
    margin: 20px 0;
}

.order-prev__body > *:first-child {
    margin-top: 0;
}

.order-prev__body > *:last-child {
    margin-bottom: 0;
}

.order-prev__block {
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */ /*я добавила*/
}

.order-prev__block > *:not(:last-child) {
    margin-right: 15px;
}

.order-prev__item {
    flex: 1;
    /* margin-right: 15px; */
}

.order-prev__item > * {
    margin: 10px 0;
}

.order-prev__item > *:first-child {
    margin-top: 0;
}

.order-prev__item > *:last-child {
    margin-bottom: 0;
}

.order-prev__total {
    margin-left: auto;
    flex: 0 0 auto;
}

.order-prev__total > * {
    margin: 10px 0;
}

.order-prev__total > *:first-child {
    margin-top: 0;
}

.order-prev__total > *:last-child {
    margin-bottom: 0;
}

.order-prev-line {
    display: flex;
    align-items: baseline;
}

.order-prev-line > *:not(:last-child) {
    margin-right: 10px;
}

.order-prev-line__label {
    text-transform: uppercase;
    font-size: 12px;
   /*  margin-right: 10px; */ /*child */
    color: #00b5c3; /* #1fa349; */
    flex: 0 0 140px;
    width: 140px;
    letter-spacing: .6px;
}

.label-pink, .order-prev-line__label.label-pink {
    color: #e20049;
}

.order-prev-line__body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.order-prev-line__value {
    font-size: 15px; /*я добавила*/
    white-space: wrap; /*я добавила*/
}

.order-prev-line__descr {
    color:darkgrey;
}

.order-prev-total-price {
    border-top: 1px solid darkgrey;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.order-prev-total-price span:first-child {
    font-weight: bold; /*я добавила */
}

.order-prev-total-price__number {
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 1070px) {
    .order-prev__block {
        flex-direction: column;
    }

    .order-prev__block > *:not(:last-child) {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .order-prev__item {
        width: 100%;
    }

    .order-prev__total {
        margin-left: 0;
        flex: 1;
        width: 100%;
    }


    .order-prev__header {
        flex-wrap: wrap;
    }
    .order-prev__status {
        margin-top: 10px;
        width: 50%;
    }

    .order-prev__link {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .order-prev > * {
        margin: 15px 0;
    }

    /* .order-prev__item > * {
        margin: 5px 0;
    }

    .order-prev__total > * {
        margin: 5px 0;
    } */

    .order-prev-line {
        /* flex-direction: column;         */
        flex-wrap: wrap;
    }

    .order-prev-line > *:not(:last-child) {
        margin-right: 0;
        /* margin-bottom: 5px; */
    }

    .order-prev-line__label {
        flex: 1;
        width: 100%;
    }

    .order-prev-line__value {
        white-space: wrap; /*я добавила*/
    }

    .order-prev__number {
        font-size: 18px;        
    }

    .order-prev__header {
        padding-right: 80px;
        flex-direction: column;
    }

    .order-prev__header > *:not(:last-child) {
        margin-bottom: 10px;
        margin-right: 0;
    }    

    .order-status.order-prev__status {
        font-size: 12px;
        text-align: right;
        position: absolute;
        right: 0; /* -20px; */
        width: 95px;
        word-break: normal; /*я добавила*/
        flex-wrap: wrap; /*я добавила*/
        white-space: wrap;
    }
}